@use "../../../scss/Auxilary.scss" as aux;
.news {
  margin: 10rem 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__titles {
    flex-basis: 50%;
  }
  &__subtitle {
    @include aux.subtitle;
  }
  &__title {
    @include aux.h2Text;
  }
}
@media (max-width: 919.98px) {
  .news {
    margin: 5rem 0;
    &__header {
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
