@use "Auxilary" as aux;
html {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #fff;
  color: aux.$textColor;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.banner {
  width: 100%;
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  @include aux.h1Text;
}
@media (max-width: 919.98px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 90%;
  }
}
@media (min-width: 920px) and (max-width: 1419.98px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 90%;
  }
}
@media (min-width: 2000px) {
  html {
    font-size: 1vw;
  }
  .container {
    width: 90%;
  }
}
